<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="contestio_club_observer" instance="Contestio\Connect\Observer\ContestioClubObserver" />
    </event>
	<event name="sales_order_place_after">
        <observer name="contestio_order_observer" instance="Contestio\Connect\Observer\ContestioOrderObserver" />
    </event>
</config>